<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <ws2007HttpBinding>
        <binding name="myBinding">
          <security mode="None" />
        </binding>
      </ws2007HttpBinding>
    </bindings>
    <client>
        <endpoint name="calculatorservice" 
                  address="http://localhost:9999/calculatorService" 
                  binding="ws2007HttpBinding"
                  bindingConfiguration="myBinding"  contract="wcfService.Interface.ICalculator"></endpoint>
    </client>
  </system.serviceModel>
</configuration>