<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
 <system.serviceModel>
   <bindings>
     <wsHttpBinding>
       <binding name="wsHttpBinding1"></binding>
     </wsHttpBinding>
     <netTcpBinding>
       <binding name="portSharingBinding" portSharingEnabled="true" />
     </netTcpBinding>
   </bindings>
        <behaviors>
          <serviceBehaviors>
            <behavior name="metadataBehavior">
              <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:9876/calculatorservice/metadata"/>
            </behavior>
          </serviceBehaviors>
        </behaviors>
        <services>
            <service name="wcfService.Interface.CalculatorService" behaviorConfiguration="metadataBehavior">
              <endpoint address="http://localhost:9876/calculatorservice" binding="wsHttpBinding" bindingConfiguration="wsHttpBinding1"
                  contract="wcfService.Interface.ICalculator">
                  <headers>
                    <UserName xmlns="http://localhost:9876">jqin</UserName>
                  </headers>
              </endpoint>
            </service>
        </services>
    </system.serviceModel>
</configuration>